#hipchat-room-history span {
    background: transparent url(img/hipchat-icon-small.png) no-repeat top left;
    padding-left: 20px;
    display: block;
}

/* Zebra striping */
#hipchat-room-history table tr:nth-of-type(odd) {
    background: #FFFBE8;
    border-top-color: #ECDCBD;
    border-collapse: collapse;
}